.brand {
    background-color: var(--brand-color);
    padding: 1em;
    margin: 2em 0;
}

.brand__logos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand__logos-img {
    margin: 0 1em;
}

.brand__logos-img img {
    width: 6em;
}

@media screen and (max-width: 480px){
    .brand__logos {
        flex-wrap: wrap;
    }

    .brand__logos-img {
        margin: 1em;
    }
}