.footer {
    background-color: var(--footer-color);
    margin: 0;
    padding: 2em;
    justify-content: space-between;
}

.footer__midias {
    margin-bottom: 2em;
}

.footer__midias a {
    margin-right: 2em;
}

.footer h2, h3 {
    color: var(--branco-principal);
    margin: 0 0 1em 0;
}

.footer h2 {
    font-size: 42px;
    font-weight: 700;
}

.footer p, li a {
    color: var(--community-text);
    text-decoration: none;
}

.footer p {
    font-size: 18px;
    width: 70%;
    line-height: 2;
    margin-bottom: 2em;
}

.footer li {
    margin-top: 2em;
    font-size: 14px;
}


@media screen and (max-width: 520px ) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer p{
        width: 100%;
    }

    .footer__midias div{
        width: 100%;
    }

    .footer__midias div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .footer div, a{
        margin: 1em;
    }

}
