.hero {
    background-color: var(--conteudo-color);
    margin: 1em;
    background-color: var(--conteudo-color);
    border-radius: 1em;
    align-items: end;
    justify-content: space-around;
}

.conteudo__container {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.conteudo__texto {
    width: 70%;
    padding: 1em 0;
}

.conteudo__paragrafo {
    padding: 1em 0;
    font-size: 24px;
}

.conteudo__butao {
    display: flex;
    text-decoration: none;
    background-color: #000;
    border-radius: 1em;
    color: var(--cor-btn);
    width: 20%;
    padding: 1.5em;
    text-align: center;
    justify-content: center;
    margin-bottom: 2em;
}

.conteudo__butao:hover {
    background-color: var(--cor-principal);
}

.conteudo__image {
    width: 38em;
}

@media screen and (max-width: 480px) {
    .hero {
        width: 100%;
    }

    .conteudo__container {
        align-items: center;
        text-align: center;
    }

    .conteudo__image {
        width: 24em;
    }
}