.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1em 0;
}

.navbar__links {
    display: flex;
}

.navbar__item {
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
    color: var(--cor-principal);
}

.navbar__item:hover {
    background-color: var(--conteudo-color);
}

.butao {
    background-color: #000;
}

.butao {
    color: var(--cor-btn);
}

.butao:hover {
    background-color: var(--cor-principal);
}

@media screen and (max-width: 520px) {
    .navbar {
        flex-direction: column;
    }

    .navbar__logo {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0.5em 0;
    }

    .navbar__container {
        visibility: collapse;
        width: 0%;
        height: 0%;
    }

    .navbar__links {
        width: 0;
        height: 0;
    }
}